/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* Nav */


/*  Hero page  */

/* what we do  */



/*  Our offer (Packages) */

.heading {
    text-align: center;
}
.heading h6 {
    color: #108bea;
}
.section {
    padding-top: 1em;
}
.special-bg {
    background-color: #f0f2f4;
    border-radius: 1em;
 height: 438px;
    
}
.cctv,
.intercoms,
.ElectricFence,
.alarm,
.SolarInverter,
.DSTV {
    margin-bottom: 3em;
}
.sectionHead{
height: 146px;

}
.EstateSolution,.sales{
    background-color: #f0f2f4;
    border-radius: 1em;
    margin-top: 1em;
}


.EstateSolution ul{
    text-align: left;
}
.sales{
    height: 263px;
}
ul {
    list-style-type: circle;
}
.flex-box {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 1;
}
.training {
    margin: 2em;
}
.training h4 {
    text-align: center;
    font-family: fantasy;

    padding-top: 2em;
}

.training h6 {
    text-align: center;
}
.training h5 {
    text-align: center;
    color: #108bea;
}
.read-more{
    display: flex;
    justify-content: center;
    align-items: center;

}
.training-btn {
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;

 
}
.training-btn:hover {
    color: black;
}
.special-bg-2 {
    background-color: #108bea;
    color: white;
    border-radius: 1em;
}
.training-bg{
    background-color: white;
    color: black;
    border-radius: .5em;
    height: 17em;
    margin-bottom: 1em;
}
.training-bg:hover{
    background-color: #f0f2f4;
}
.traning-header{
  border-radius: .5em;
 height: 3.5em;
    background-color:black;
}
.traning-header h4{
    color: white;
    font-weight: 100;
}
ul {
    text-align: center;
}
ul li {
    display: block;
  
}

@media screen and (max-width:1040px){
    .training-bg p{
        font-size: small;
    }

@media screen and (max-width:767px){
    .training-bg p{
        font-size:large;
    }
 
}


/* about us */

/*Previous works */

/* contact us  */

/*  Team Member  */


/*  Testimonial  */



/* footer  */
