/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* Nav */
.navbar-nav a {
    color: black !important;
}

.navbar-nav a:active {
    color: #0f8bea;
}

.navbar-nav a:hover {
    background: #0f8bea;
    color: white !important;
    border-radius: 20px;
    width: 120px;
    text-align: center;
}

.fixed-top {
    background-color: white;
    color: #eeeeee;
}

/*  Hero page  */
.main {
    width: 100%;
}

.carousel-item {
    width: 100%;
    height: 650px;
    position: relative !important;
}
.main img {
    width: 100%;
}

.blue-overlay {
    position: absolute;
    top: 0x;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.carousel-caption {
    margin-bottom: 200px;
}
.carousel-caption h1 {
    font-size: 3.2rem;
    color: white;
}

.globe {
    background: #0f8bea;
    color: white;
    width: 25rem;
    display: block;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 5px;
    margin-top: 0px;
}

.services {
    text-align: justify;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.security {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid gray; */
}

.sec-logo {
    width: 18%;
    height: 85px;
    /* background: blue; */
    /* border: 1px solid white; */
}
/* what we do  */
<<<<<<< HEAD
.row{
    justify-content: space-evenly;
    
}
.col-3{
     border-radius: 5px; 
    height: 400px;
    background-color: #F0F2F4;
}
=======

.heading{
    text-align: center;
}
.heading h6{
    color: #108BEA;
}
.section{
    padding-top: 1em;
}
.special-bg{
    
    background-color: #F0F2F4;
    border-radius: 1em;
}
.cctv , .intercoms,  .ElectricFence, .alarm, .SolarInverter,.DSTV{
    margin-bottom: 5em;

}
.DSTV{
    padding-top: 1.5em;
}
.padding-bottom{
    padding-bottom: 1.5em;
}
.padding-bottom-last{
    padding-bottom: 4.5em;
}
.EstateSolution h5 {
    margin-top: 3em;
}
.EstateSolution h6{

    color: #757D75;
}
.EstateSolution p{

  color: #757D75;
}
fieldset{
    border: 3px solid #108BEA;
}
ul{
    list-style-type: circle;
  
    
}
.flex-box{
    display: flex;
}
.flex-1{
    flex: 1;
}
.flex-2{
    flex: 1;
}
.training{
    margin: 2em;
}
.training h4{
    text-align: center;
    font-family: fantasy;

    padding-top: 2em;
}

.training h6{
    text-align: center;
}
.training h5{
    text-align: center;
    color:#108BEA ;
}
.training-btn{
    color: white ;
}
.training-btn:hover{
    color:black  ;
}
.special-bg-2{
    background-color:#108BEA ;
    color: white;
}


@media screen and (min-width:765px) {
    ul{
        text-align: center;
    }
  ul li{
      display:inline-block;
    margin: 1em;
    text-align: center;
  }
}


>>>>>>> 2cd7bfc350e0485898975344b0890e197505588e
/*  Our offer (Packages) */

/* about us */

/*Previous works */

/* contact us  */

/*  Team Member  */

/*  Testimonial  */

/* footer  */
